<site-features>
	<h3>you get AI co-founders …</h3>
	<p>
		<ul class="pills">
			<li>AI-assistants</li>
			<li>product design and development</li>
			<li>company formation</li>
			<li>bank accounts</li>
			<li>business compliance</li>
			<li>legals</li>
			<li>cross-border legalese</li>
			<li>administration</li>
			<li>taxation</li>
			<li>concierge services</li>
			<li>immigration assistance</li>
			<li><em>ask anything, you might just get it!</em></li>
		</ul>
		<h3>… be the best human for your customers.</h3>
	</p>
</site-features>