<site-features>
	<h3>You get AI co-founders.</h3>
	<p>
		<ul class="pills">
			<li>AI-assistants</li>
			<li>company formation</li>
			<li>bank accounts</li>
			<li>business compliance</li>
			<li>legals</li>
			<li>cross-border legalese</li>
			<li>administration</li>
			<li>taxation</li>
			<li>marketing</li>
			<li>sales assistants</li>
			<li>concierge services</li>
			<li>immigration assistance</li>
			<li>start a podcast</li>
			<li><em>et al.</em></li>
		</ul>
		<span class="mark mark-alt">
			feeling lonely—talk to an AI.*
		</span>
		<small>
			<em>
				*
				In early alpha, still pretty incoherent, and inconsistent.
				Unfortunately, it is not <a href="https://en.wikipedia.org/wiki/Her_(film)">Her</a>.
			</em>
		</small>
	</p>
</site-features>