<site-market>
	<h3>You choose where you live …</h3>
	<article>
		<ul>
			<li>Basel, Switzerland</li>
			<li>Shillong, India</li>
			<li>Dublin, Ireland</li>
			<li>Kuala Lumpur, Malaysia</li>
			<li>Bali, Thailand</li>
			<li>Hanoi, Vietnam</li>
			<li>Wellington, New Zealand</li>
			<li>Dharamsala, India</li>
			<li>Rome, Italy</li>
			<li>Barcelona, Spain</li>
			<li>Lisbon, Portugal</li>
			<li>Greek Islands</li>
			<li>Transylvania, Romania</li>
			<li>Canary Islands, Spain</li>
			<li>Goa, India</li>
			<li>or pick a place to immigrate to!</li>
		</ul>
	</article>
	<h4>… and serve global customers.</h4>
</site-market>