.container {
  width: var(--body-width);
  max-width: var(--body-width-ideal);
  margin-inline: auto;
}

site-hero,
site-sidekick,
site-cta,
site-icp,
site-features,
site-testimonials,
site-why,
site-market,
site-disclaimer,
module-start {
  display: block;
  margin: var(--space-s) auto;
  padding: var(--space-s) 0;
}

/* HERO */
site-hero {
  text-align: center;
  margin: var(--space-m) auto;
  padding: var(--space-xs) var(--space-m);
  background-color: var(--bg-color-lower);
  border-radius: var(--border-radius);
}

hero-title h2 {
/*  color: var(--color-primary);*/
  font-size: var(--step-2);
  font-weight: 400;
  line-height: 1.3;
}

/* SIDEKICK */
site-sidekick {
  padding: 0;
  
  border-top: var(--border-size) solid var(--color-primary-accent);
  color: var(--text-color-low);
  font-size: var(--step-0);
}

site-sidekick h3 {
  font-weight: var(--font-weight-lower);
  text-transform: uppercase;
  color: var(--color-primary-accent);
}

site-sidekick p {}

site-sidekick ul {
  list-style: none;
  font-family: var(--font-family-alt);
}

site-sidekick span {
  font-weight: var(--font-weight-higher);
  color: var(--color-full);
}

/* CTA */
site-cta {
  text-align: center;
}

cta-subtitle {
  text-transform: uppercase;
  font-size: var(--step--2);
  color: var(--text-color-low);
}

/* ICP  */
site-icp {
  font-size: var(--step-2);
  padding-inline: var(--space-m);
  text-align: center;
  text-transform: lowercase;
  font-weight: var(--font-weight-low);
}

site-icp h3 {
  margin: 0;
  padding: 0;
  font-size: var(--step-2);
  font-weight: var(--font-weight-low);
  text-align: center;
}

site-icp span {
  display: block;
  margin: var(--space-2xs) 0;
}

/* TESTIMONIALS */
site-testimonials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  gap: 3%;
  row-gap: var(--space-s);
}

site-testimonials article {
  width: 100%;
  padding: var(--space-s);
  background-color: var(--bg-color-low);
  color: var(--text-color-low);
  border-radius: var(--border-radius-small);
}

@media only screen and (min-width: $breakpoint-medium) {
  site-testimonials article {
    width: 31%;
  }
}

site-testimonials small {
  display: inline-block;
}

/* WHY */
site-why {
  max-width: var(--body-width-small);
  font-size: var(--step-0);
}

/* FEATURES */
/* MARKET */
site-features,
site-market {
  padding: var(--space-m);
  border-radius: var(--border-radius);
  background-color: var(--bg-color-high);
}

site-features h3,
site-market h3 {
  margin: var(--space-s) 0;
  padding: 0;
  text-align: center;
  color: var(--text-color-lower);
  font-weight: var(--font-weight-low);
  font-size: var(--step-2);
}

site-features span,
site-market span {
  display: block;
  margin: var(--space-xs);
  text-align: center;
  font-size: var(--step-1);
  border-radius: var(--border-size-larger);
}

/* START */
module-start {
  max-width: var(--body-width-small);
  font-size: var(--step-0);
}

module-start h3 {
  margin: var(--space-s) 0;
  padding: 0;
  font-weight: var(--font-weight-low);
  font-size: var(--step-1);
}

/* DISCLAIMER */
site-disclaimer {
  margin: 0;
  padding: 0;
  text-align: center;
}

site-disclaimer p {
  margin: 0;
  padding: 0;
}

site-disclaimer span {
  color: var(--color-primary-accent);
}