.pills {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: var(--step-0);
}

.pill,
.pills li {
	display: inline-block;
	margin: calc(0.5 * var(--space-3xs));
	padding: 0 var(--space-xs);
	background-color: var(--border-color-low);
	border-radius: var(--border-size-larger);
}